<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website Building Lessons</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/43d52e9e97.js" crossorigin="anonymous"></script>
    <title>Lessons</title>

  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <!-- <a class="navbar-item" href="{{url_for('feed')}}">
            Home
          </a> -->
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Documentation
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <!-- <a class="button is-light" href="{{url_for('login')}}">
                  Log in
                </a> -->
                <a class="button is-primary">
                  <strong>Profile</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Intro HTML
      </h1>
      <p class="subtitle">

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/557921553?h=d3d8891aeb" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/557921619?h=29f13fd677" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/557921720?h=ab4627ec31" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/557921822?h=6cf21944dc" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/557924543?h=78f008e607" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/557922262?h=648a0ac578" width="640" height="360" frameborder="0" allowfullscreen></iframe>


        
        </p>
        <p>
          
            <!-- {% block content %}
    
            {% endblock %} -->
          </p>
        </div>
      </section>

    <section class="section">
        <div class="container">
            <h1 class="title">
            CSS Styling
            </h1>
            <p class="subtitle">
    
            <iframe title="vimeo-player" src="https://player.vimeo.com/video/557922573?h=6fd6b3f5c2" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/557922749?h=79f390c23b" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/557923017?h=9d81d62238" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/557927815?h=ff99d5229d" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/558745347?h=4c0b2fa1cb" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/558745536?h=54a3bd48cf" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/558746124?h=d63ba6a1f8" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/559174979?h=7f34f910a6" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/559175514?h=a7f4d96ec2" width="640" height="360" frameborder="0" allowfullscreen></iframe>


            
            
            </p>

        <p>
          
        <!-- {% block content %}

        {% endblock %} -->
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Designing a Web App
      </h1>
      <p class="subtitle">

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/574778269?h=01d7ca20b1" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/574778554?h=03cd45d63d" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/574778795?h=527b4d88bf" width="640" height="360" frameborder="0" allowfullscreen></iframe>
        
        </p>
        <p>
          
        </div>
      </section>


      <section class="section">
        <div class="container">
          <h1 class="title">
            Prototype in HTML
          </h1>
          <p class="subtitle">
    
            <iframe title="vimeo-player" src="https://player.vimeo.com/video/577049503?h=7e1796b7b6" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/577051096?h=3d56f85299" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/577783449?h=57ea0bde17" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/577783548?h=9298c182ff" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/577783591?h=ad833aa93d" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/577785538?h=db96c51ac2" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/581895745?h=89e16afe66" width="640" height="360" frameborder="0" allowfullscreen></iframe>


            
            </p>
            <p>
              
            </div>
          </section>
    
    <section class="section">
    <div class="container">
      <h1 class="title">
        Python
      </h1>
      <p class="subtitle">

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560214556?h=7dd03ebd9c" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560264804?h=b40b176e55" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560214771?h=bb3853e95f" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560215157?h=6e523ba33a" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560215309?h=4cbf2e232a" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560215472?h=c5322fb80b" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560215750?h=166ebefa0a" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560215954?h=e94f34c47d" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560216189?h=996e140db7" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560216450?h=11ef913b90" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560216599?h=b8245b810c" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560216839?h=57285ee4b5" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560217223?h=61279b293d" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560217365?h=503f787a1a" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560217620?h=eac3d9661b" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560217879?h=37f3e7d809" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560218201?h=0eed21ec94" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560218459?h=1c4641155c" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560218858?h=15e4ab1423" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560219434?h=aeee88bcef" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560220067?h=d3b70f83a6" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        <iframe title="vimeo-player" src="https://player.vimeo.com/video/560220383?h=8194b87644" width="640" height="360" frameborder="0" allowfullscreen></iframe>

        

        
        </p>
        <p>
          
        </div>
      </section>



      <section class="section">
        <div class="container">
          <h1 class="title">
            Flask
          </h1>
          <p class="subtitle">

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563074560?h=f92537f9d3" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563074630?h=ec1fc08f04" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563074702?h=1f5aefe328" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563074745?h=51f2851981" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563074868?h=6b73f5eccf" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563841187?h=dc4d697df6" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563840785?h=eb002bdb24" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563846542?h=8ec2f15d63" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563841780?h=ae831f055a" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563847032?h=45ed457d82" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563840566?h=3d8d1e8a4f" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563841005?h=44fae6a6f3" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563841350?h=3279919eb3" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/563873326?h=4242421325" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/577783681?h=7f1efd459f" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/581895694?h=0a5c4f01b9" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/581895629?h=e943216615" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/581895540?h=2017ab6b70" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            <iframe title="vimeo-player" src="https://player.vimeo.com/video/581895469?h=de6bf1bf14" width="640" height="360" frameborder="0" allowfullscreen></iframe>


    

            
            </p>
            <p>
              
            </div>
          </section>
    
    
    
        <section class="section">
        <div class="container">
            <h1 class="title">
            Users and Personalization
            </h1>
            <p class="subtitle">

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557441743?h=d07393a905" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557441819?h=4b0f953168" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557441843?h=756c67b01f" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557441862?h=fcf6d49fcf" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557441895?h=c6920c6dad" width="640" height="400" frameborder="0" allowfullscreen></iframe>


    
            
            </p>
            <p>
                
            </div>
            </section>
    

    <section class="section">
        <div class="container">
            <h1 class="title">
            Datebases
            </h1>
            <p class="subtitle">

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/587269154?h=f06ff9bf42" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/587269205?h=e37e304925" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/587269235?h=1d7d43964d" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/688548854?h=34dfaef72d" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/688536465?h=a550c67be9" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/688536627?h=0df0aa8293" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/688538472?h=7ab18c216d" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/688541700?h=3b712d556c" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/688548385?h=c746ba0972" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/587269268?h=a8ddccee66" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/587269315?h=911d20edf9" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/587269370?h=fa9048a3e8" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/587269410?h=9508d1dc96" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/587269494?h=6e61a1c663" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/587269546?h=cc0817dc3e" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557435609?h=c69d07f5bf" width="640" height="400" frameborder="0" allowfullscreen></iframe>
                
                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557438510?h=1a3c84e6ab" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557441235?h=65ef0062ba" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557441261?h=5cc7327ee4" width="640" height="400" frameborder="0" allowfullscreen></iframe>



            
            </p>
            <p>
                
            </div>
            </section>
    
    

    <section class="section">
        <div class="container">
            <h1 class="title">
            User Management 
            </h1>
            <p class="subtitle">

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557442428?h=3966941371" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557442438?h=72f74e8dc9" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557442513?h=6888fb6a47" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557442645?h=ff84fdc198" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557442668?h=d677bbaa1d" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557442578?h=be55e0528e" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557442619?h=be6e01e2bb" width="640" height="400" frameborder="0" allowfullscreen></iframe>
    
            
            </p>
            <p>
                
            </div>
            </section>


    <section class="section">
        <div class="container">
            <h1 class="title">
            JavaScript
            </h1>
            <p class="subtitle">
            
                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557447088?h=7e86c5dcbb" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557447106?h=1cd66ba92d" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557447126?h=6817e0326a" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557447154?h=cf7201a346" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557447190?h=61e3ac3301" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557447207?h=658d7d9f5c" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557447952?h=cdaf90e567" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557447961?h=598188e282" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557448011?h=a00191aa32" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557448089?h=769bd3ee27" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557448116?h=79e234c93e" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557448808?h=81c976af72" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557448822?h=481daedc09" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557448838?h=a8eeec13c0" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557448874?h=2291e36900" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557448903?h=f10d048c40" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557448918?h=12e2e9c647" width="640" height="400" frameborder="0" allowfullscreen></iframe>

                <iframe title="vimeo-player" src="https://player.vimeo.com/video/557448925?h=fc5d1e0eda" width="640" height="400" frameborder="0" allowfullscreen></iframe>


                
            
            </p>
            <p>
                
            </div>
            </section>
    
    


  </body>
</html>